 
  <div class="searchFormDiv">
  <form method="POST" action="/word" class="searchForm">
    <label for="text"></label>
      <input id="text" class="form-control inputText" name="word" placeholder="Введите ключевое слово для поиска" type="text">
      {{#if username}}
       <input type="submit" class="btn btn-primary" value="Найти"></input>
       {{else}}
       <input type="submit" class="btn btn-primary" value="Найти"></input>
       {{/if}}
  </form>
</div>




<div class="cardList">
  {{#each articles}}

  <div class="articleCard">
    <h3>{{this.title}}</h3>
    <img src="{{this.urlToImage}}" width="100%" />
    <p>{{this.description}}</p>
    <a href="{{this.url}}">Перейти к источнику</a>
  </div>
  
  {{/each}}
</div>
